@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik-Bold.woff') format("woff"), url('../fonts/Rubik-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik-Medium.woff') format("woff"), url('../fonts/Rubik-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik-Regular.woff') format("woff"), url('../fonts/Rubik-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Medium.woff2') format("woff2"), url('../fonts/Exo2-Medium.woff') format("woff"), url('../fonts/Exo2-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Bold.woff2') format("woff2"), url('../fonts/Exo2-Bold.woff') format("woff"), url('../fonts/Exo2-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Regular.woff2') format("woff2"), url('../fonts/Exo2-Regular.woff') format("woff"), url('../fonts/Exo2-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PT Sans'
  src: url('../fonts/PTSans-Bold.woff2') format("woff2"), url('../fonts/PTSans-Bold.woff') format("woff"), url('../fonts/PTSans-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PT Sans'
  src: url('../fonts/PTSans-Regular.woff2') format("woff2"), url('../fonts/PTSans-Regular.woff') format("woff"), url('../fonts/PTSans-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

* 
  margin: 0
  padding: 0

body
  font-family: "Rubik"

.middle-header > * 
  display: inline-block
  vertical-align: middle

.wrapper
  margin: 0 auto
  width: 70vw

.navbar 
  background-color: transparent !important
  box-shadow: none !important

.puck
  background-image: url('../img/backgroundtop.png')
  background-size: cover
  background-position: center
  width: 100%
  height: 100vh
  box-sizing: content-box

h1
  width: 100%
  font-size: 72px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffffff
  font-weight: 400
  margin-bottom: 20px

.bottom-text
  width: 528px
  max-height: 62px
  font-size: 16px
  line-height: 24px
  color: #ffffff
  font-weight: 400
  font-style: italic
  margin: 0 auto 
  margin-bottom: 29px

.middle-header
  height: 60vh
  display: flex
  flex-direction: column
  justify-content: center

.container
  position: relative
  height: 100vh

.pukakakashka
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

.navbar-brand
  font-size: 36px
  line-height: 21px
  color: #fff
  font-weight: 500
  font-family: "Exo2.0"
  text-align: center
  &:hover
    color: #fff !important
    
.nav-link 
  font-size: 14px
  letter-spacing: 1px
  text-transform: uppercase
  color: #fff !important
  font-weight: 400
  text-align: right
  transition: .3s ease
  &:hover
    color: #ffb700 !important

.navbar
  max-width: 70vw
  margin: 0 auto
  padding-top: 35px
  padding-bottom: 0

.detail
  display: inline-block
  width: 170px
  margin: 0 auto
  font-size: 16px
  letter-spacing: 1px
  text-transform: uppercase
  text-decoration: none
  transition: .3s ease
  color: #fdfcfb
  font-weight: 400
  text-align: center
  padding: 9.5px 0
  border-radius: 22px
  box-shadow: 0px 4px 10.5px 5px rgba(193,139,1,0.24)
  background-color: #ffb700
  border: 1px solid #ffb700
  &:hover
    color: #ffb700
    background-color: transparent
    border: 1px solid #ffb700
    box-shadow: 0 0 0 0 rgba(193,139,1,0.24)

.detial
  display: inline-block
  border-radius: 23px
  background-color: rgba(0,153,255,0)
  border: 2px solid #0099ff
  padding: 9.5px 35px 9.5px
  font-size: 16px
  letter-spacing: 1px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  text-align: center
  text-decoration: none
  transition: .3s ease
  &:hover
    color: #fff
    border: 2px solid #fff
    background-color: #0099ff

.gar
  padding: 9.5px 0
  margin-right: 10px
  width: 180px

.container-fluid
  --bs-gutter-x: 0

.text-up
  font-size: 36px
  letter-spacing: 1px
  line-height: 44px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center
  margin: 0

.margin-bottom
  margin-bottom: 20px

.text-bottom
  font-size: 16px
  line-height: 24px
  color: #333333
  font-weight: 400
  font-style: italic
  text-align: center
  margin-bottom: 36px

.svg
  margin-bottom: 42px
  transition: .5s ease
  &:hover
    cursor: pointer
    fill: #ffb700

main
  padding-top: 45px

.cardsbosstext
  font-size: 36px
  letter-spacing: 1px
  line-height: 40px
  text-transform: uppercase
  color: #333333
  font-weight: 400
  margin-bottom: 27px

.description-about-company
  font-size: 16px
  line-height: 22px
  color: #555
  font-weight: 400
  font-style: italic
  margin-bottom: 48px

.pukashka
  margin-bottom: 20px

.firstcardka
  max-width: 266px

.uvaga
  font-size: 13px
  line-height: 19px
  color: #bbb
  font-weight: 400

main
  background-color: #f5f8fa

.boxcard
  width: 270px
  height: 270px
  box-sizing: border-box
  transition: .3s ease
  &:hover
    background-color: #fff
    box-shadow: 0px 4px 10.5px 5px rgba(3,20,31,0.05)

.currency
  width: 100%
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center
  margin-bottom: 12px

.maincards
  position: relative
  display: flex
  justify-content: space-between
  margin-bottom: 72px

.gamno
  font-size: 12px
  letter-spacing: 0px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  transition: .3s ease
  text-decoration: none
  margin-right: 7px
  &:hover
    box-shadow: 0px 0px 10.5px 1.5px rgba(193,139,1,0.24)

.analizi
  position: absolute
  top: 100%
  right: 22%
  width: 200px
  height: 11px
  transform: translate(-50%, -50%)

.price
  font-size: 24px
  color: #0099ff
  font-weight: 400
  text-align: center
  margin-bottom: 13px

.imgbox
  margin-bottom: 26px

.box-padding > .p-width
  height: 53px

.box-padding > .p-width,
.box-padding > .p-width
  height: 51px

.p-width
  margin-top: 29px

.text-align
  text-align: center !important

.description
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  font-family: "Rubik"

.hr
  border: none
  border-top: 1px solid #dfe3e6
  width: 100%

.island
  position: relative
  padding-top: 75px
  padding-bottom: 40px

.h2-abaudna
  font-size: 36px
  line-height: 42px
  text-transform: uppercase
  color: #333
  font-weight: 400
  padding-top: 10px
  margin-bottom: 15px

.opis
  width: 396px
  height: 75px
  font-size: 16px
  line-height: 24px
  color: #333333
  font-weight: 400
  font-style: italic
  margin-bottom: 39px

.col-mlss
  width: 444px
  height: 291px

.row-s
  display: flex

.gray-box
  position: absolute
  height: 169px
  width: 285px
  padding: 30px 54px 36px 57px
  top: 43%
  left: 73%
  background-color: #edf2f5

.gaybox
  width: 165px
  max-height: 61px

.oleg
  background-image: url('../img/backgroundcenter.png') 
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  margin-top: 40px
  padding: 90px 0 100px

.oleg h2:first-child
  font-size: 56px
  letter-spacing: 2px
  line-height: 66px
  text-transform: uppercase
  color: #fff
  font-weight: 400
  margin-bottom: 0

.oleg h2:last-child
  font-size: 56px
  letter-spacing: 2px
  line-height: 66px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  margin-bottom: 31px

.oleg-description
  width: 396px
  height: 75px
  font-size: 16px
  line-height: 24px
  color: #fff
  font-weight: 400
  font-family: "PT Sans"
  margin-bottom: 53px

.rows
  display: flex

.cols
  display: flex
  flex-direction: column
  align-items: center
  position: relative

.cols:before
  content: ""
  position: absolute
  width: 200px
  height: 255px
  top: 41%
  left: 15%
  transform: translate(-50%, -50%)
  border: none
  border-top: 4px solid #5c6770
  border-left: 4px solid #5c6770
  border-bottom: 4px solid #5c6770

.cols:after
  content: ""
  position: absolute
  width: 200px
  height: 255px
  top: 41%
  left: 84%
  transform: translate(-50%, -50%)
  border: none
  border-top: 4px solid #5c6770
  border-right: 4px solid #5c6770
  border-bottom: 4px solid #5c6770

.lapki
  margin-bottom: 15px

.descr
  margin: 0 auto
  width: 423px
  height: 95px
  font-size: 16px
  line-height: 25px
  color: #fff
  font-weight: 400
  font-style: italic
  margin-bottom: 16px

.h5-oleg
  font-size: 18px
  line-height: 26px
  color: #fff
  font-weight: 400
  margin-bottom: 5px

.client
  font-size: 14px
  line-height: 19px
  color: #999
  font-weight: 400
  margin-bottom: 12px

.portretone
  width: 86px
  height: 86px
  box-sizing: border-box

.week
  padding-top: 72px

.special-choise-week
  font-size: 36px
  line-height: 42px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center