@import components/mixin
  
@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik-Bold.woff') format("woff"), url('../fonts/Rubik-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik-Medium.woff') format("woff"), url('../fonts/Rubik-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik-Regular.woff') format("woff"), url('../fonts/Rubik-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Medium.woff2') format("woff2"), url('../fonts/Exo2-Medium.woff') format("woff"), url('../fonts/Exo2-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Bold.woff2') format("woff2"), url('../fonts/Exo2-Bold.woff') format("woff"), url('../fonts/Exo2-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Exo 2'
  src: url('../fonts/Exo2-Regular.woff2') format("woff2"), url('../fonts/Exo2-Regular.woff') format("woff"), url('../fonts/Exo2-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PT Sans'
  src: url('../fonts/PTSans-Bold.woff2') format("woff2"), url('../fonts/PTSans-Bold.woff') format("woff"), url('../fonts/PTSans-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PT Sans'
  src: url('../fonts/PTSans-Regular.woff2') format("woff2"), url('../fonts/PTSans-Regular.woff') format("woff"), url('../fonts/PTSans-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

* 
  margin: 0
  padding: 0

body
  font-family: "Rubik"  
  +media(1800)
    zoom: 1.5

.puck
  background-image: url('../img/backgroundtop.jpg')
  background-size: cover
  background-position: bottom
  box-sizing: content-box
  width: auto

h1
  font-size: 72px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffffff
  font-weight: 400
  margin-bottom: 20px
  +media(320)
    font-size: 52px
  +media(768)
    font-size: 62px
  +media(1200)
    font-size: 72px

.bottom-text
  font-size: 16px
  line-height: 24px
  color: #ffffff
  font-weight: 400
  font-style: italic
  margin: 0 auto 
  margin-bottom: 29px

.middle-header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  &::before,
  &::after
    content: ""
    width: 370px
    border-left: 4px solid #fff
    border-right: 4px solid #fff
    opacity: 0.3
    +media(320)
      width: 300px
    +media(500)
      width: 370px
  &::before
    height: 36px
    border-top: 4px solid #fff
  &::after
    height: 89px
    border-bottom: 4px solid #fff
    margin-top: -40px

.pukakakashka
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

.navbar-brand
  font-size: 36px
  line-height: 21px
  color: #fff
  font-weight: 500
  font-family: "Exo2.0"
  text-align: center
  &:hover
    color: #fff !important
    
.nav-link 
  font-size: 14px
  letter-spacing: 1px
  text-transform: uppercase
  color: #fff !important
  font-weight: 400
  text-align: right
  transition: .3s ease
  &:hover
    color: #ffb700 !important

.navbar
  margin: 0 auto
  padding-top: 35px
  padding-bottom: 0

.detail
  display: inline-block
  font-size: 16px
  letter-spacing: 1px
  text-transform: uppercase
  text-decoration: none
  transition: .3s ease
  color: #fdfcfb
  font-weight: 400
  text-align: center
  padding: 10.5px 28px 9.5px
  border-radius: 22px
  box-shadow: 0px 4px 10.5px 5px rgba(193,139,1,0.24)
  background-color: #ffb700
  border: 1px solid #ffb700
  z-index: 1
  &:hover
    color: #ffb700
    background-color: transparent
    border: 1px solid #ffb700
    box-shadow: 0 0 0 0 rgba(193,139,1,0.24)
  +media(320)
    font-size: 13px
    padding: 10.5px 20px 9.5px
  +media(1200)
    font-size: 16px
    padding: 10.5px 28px 9.5px

.detial
  display: inline-block
  border-radius: 23px
  background-color: rgba(0,153,255,0)
  border: 2px solid #0099ff
  padding: 9.5px 35px 9.5px
  font-size: 16px
  letter-spacing: 1px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  text-align: center
  text-decoration: none
  transition: .3s ease
  &:hover
    color: #fff
    border: 2px solid #fff
    background-color: #0099ff
  +media(320)
    font-size: 13px
    padding: 9.5px 23px 9.5px
  +media(1200)
    font-size: 16px
    padding: 9.5px 35px 9.5px

.gar
  padding: 9.5px 26px

.gav
  padding: 10.5px 32.75px 8.5px

.gave
  margin-bottom: 16px

.meras
  +media(320)
    margin-top: 15px
  +media(768)
    margin-top: 0

.text-up
  font-size: 36px
  letter-spacing: 1px
  line-height: 44px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center
  margin: 0

.margin-bottom
  margin-bottom: 20px

.text-bottom
  font-size: 16px
  line-height: 24px
  color: #333333
  font-weight: 400
  font-style: italic
  text-align: center
  margin-bottom: 36px

.svg
  margin-bottom: 42px
  transition: .3s ease
  &:hover
    cursor: pointer
    fill: #ffb700

main
  padding-top: 45px

.cardsbosstext
  font-size: 36px
  letter-spacing: 1px
  line-height: 40px
  text-transform: uppercase
  color: #333
  font-weight: 400
  margin-bottom: 27px

.description-about-company
  font-size: 16px
  line-height: 22px
  color: #555
  font-weight: 400
  font-style: italic
  margin-bottom: 48px

.pukashka
  margin-bottom: 20px

.uvaga
  font-size: 13px
  line-height: 19px
  color: #bbb
  font-weight: 400

main
  background-color: #f5f8fa

.boxcard
  box-sizing: border-box
  transition: .3s ease
  overflow: hidden
  position: relative
  &:hover
    background-color: #fff
    box-shadow: 0px 4px 10.5px 5px rgba(3,20,31,0.05)

.dj
  min-height: 95px

.star
  position: absolute
  width: 80px
  height: 80px
  top: -15%
  left: -15%
  transform: rotate(45deg)
  background-color: #26cb15
  +media(320)
    top: -15%
    left: -13.5%
  +media(375)
    top: -15.5%
    left: -11%
  +media(425)
    top: -15%
    left: -10%
  +media(450)
    top: -15%
    left: -9.5%
  +media(480)
    top: -15%
    left: -9%
  +media(500)
    top: -15%
    left: -8.5%
  +media(546)
    top: -15.5%
    left: -8%
  +media(550)
    top: -15.5%
    left: -8%
  +media(576)
    top: -11.25%
    left: -23%
  +media(600)
    top: -11%
    left: -23%
  +media(700)
    top: -12%
    left: -23%
  +media(768)
    top: -14%
    left: -18%
  +media(991)
    top: -14%
    left: -20%
  +media(995)
    top: -12%
  +media(1200)
    top: -14%
    left: -16.5%
  +media(1400)
    left: -15%
    top: -13%

.starimg
  position: absolute
  top: 45%
  left: 70%
  fill: #fff
  transform: rotate(-45deg)
  +media(320)
    top: 41%
    left: 67%
  +media(340)
    top: 34%
    left: 67%
  +media(375)
    top: 39%
    left: 67%
  +media(450)
    top: 39%
    left: 68%
  +media(500)
    top: 37%
    left: 67%
  +media(514)
    top: 36%
    left: 69%
  +media(565)
    top: 36%
    left: 68%
  +media(576)
    top: 40%
    left: 68%
  +media(700)
    top: 42%
    left: 70%
  +media(768)
    top: 40%
    left: 67%
  +media(1000)
    top: 44%
    left: 68%
  +media(1200)
    top: 45%
    left: 69%
  +media(1400)
    top: 40%
    left: 69%
  +media(1800)
    top: 44%
    left: 70%
  +media(1900)
    top: 42%
    left: 71%
  +media(2020)
    top: 40%
    left: 71%
  +media(2560)
    left: 73%
    top: 40%

.img-first
  width: 100%
  min-height: 150px
  max-height: 300px
  display: block
  object-fit: cover
  object-position: 50% 75%
  +media(995)
    width: auto
  +media(1200)
    width: auto

.row-s
  display: flex
  flex-wrap: wrap
  +media(320)
    display: block
  +media(995)
    display: flex
    flex-wrap: nowrap

.currency
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center
  margin-bottom: 12px

.maincards
  margin-bottom: 72px

.cards
  +media(320)
    gap: 10px
  +media(687)
    gap: 0

.puckh
  +media(687)
    max-width: 50%
  +media(992)
    max-width: auto

.chuk
  +media(450)
    display: flex
    flex-direction: column
  +media(550)
    display: flex
    flex-direction: row

.g-flexs
  +media(320)
    display: flex
    justify-content: center
  +media(425)
    display: flex
    justify-content: flex-start
  
.gamno
  font-size: 12px
  letter-spacing: 0px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  transition: .3s ease
  text-decoration: none
  margin-right: 7px

.price
  font-size: 24px
  color: #0099ff
  font-weight: 400
  text-align: center
  margin-bottom: 13px
  +media(320)
    font-size: 20px
  +media(1200)
    font-size: 24px
  
figure:nth-child(2) > figcaption > p > .imgbox,
figure:last-child > figcaption > p > .imgbox
  width: 50px
  height: 51px
  margin-bottom: 26px
  fill: #ffb700

.svg-whatineed
  fill: #0099ff

.p-width
  margin-top: 29px

.text-align
  text-align: center !important

.description
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  margin: 0
  +media(576)
    min-height: 133px
  +media(768)
    min-height: auto
  +media(1000)
    min-height: 114px
  +media(1200)
    min-height: 76px

.descriptions
  font-size: 13px
  line-height: 20px
  color: #999
  font-weight: 400
  text-align: center
  max-height: 61px

hr
  border: none
  border-top: 1px solid #dfe3e6
  background-color: #f5f8fa
  width: 100%
  margin-bottom: 0

.hrplus
  width: 70vw
  margin: 0 auto

.island
  position: relative

.h2-abaudna
  font-size: 36px
  text-transform: uppercase
  color: #333
  font-weight: 400
  +media(320)
    font-size: 24px
  +media(1200)
    font-size: 36px

.opis
  font-size: 16px
  line-height: 24px
  color: #333333
  font-weight: 400
  font-style: italic
  +media(320)
    font-size: 14px
    line-height: 21px
  +media(1200)
    font-size: 16px
    line-height: 24px

.gray-box
  padding: 26px 30px
  background-color: #edf2f5

.oleg
  background-image: url('../img/backgroundcenter.jpg') 
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.oleg h2:first-child
  letter-spacing: 2px
  text-transform: uppercase
  color: #fff
  font-weight: 400
  margin-bottom: 0
  +media(320)
    font-size: 46px
  +media(409)
    font-size: 56px
    line-height: 66px

.oleg h2:last-child
  letter-spacing: 2px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  margin-bottom: 31px
  +media(320)
    font-size: 46px
  +media(409)
    font-size: 56px
    line-height: 66px

.oleg-description
  font-size: 16px
  line-height: 24px
  color: #fff
  font-weight: 400
  font-family: "PT Sans"
  margin-bottom: 53px

.rows
  display: flex

.puj
  +media(459)
    display: flex
    flex-direction: column
  +media(768)
    display: flex
    flex-direction: row

.cols
  position: relative
  max-width: 100%
  margin: 0 auto
  +media(320)
    padding-top: 40px
  +media(500)
    padding-top: 0
  &::before, &::after
    content: ""
    position: absolute
    top: 40%
    width: 196px
    height: 236px
    transform: translateY(-50%)
    +media(320)
      top: 49%
      width: 90px
      height: 335px
    +media(375)
      top: 49%
      width: 90px
      height: 315px
    +media(425)
      width: 90px
      height: 285px
      top: 48%
    +media(500)
      top: 44%
    +media(507)
      top: 43%
      height: 261px
    +media(768)
      width: 90px
      height: 330px
      top: 36%
    +media(992)
      top: 32%
      width: 90px
      height: 285px
    +media(1200)
      top: 43%
      width: 196px
      height: 260px
  &::before
    left: 4%
    border-left: 4px solid  #5c6770
    border-top: 4px solid  #5c6770
    border-bottom: 4px solid  #5c6770
  &::after
    right: 4%
    border-right: 4px solid #5c6770
    border-top: 4px solid #5c6770
    border-bottom: 4px solid #5c6770

.lapki
  margin-bottom: 15px
  width: 42px
  height: 37px
  fill: #ffb700

.analizi
  transform: translate(0, 0) scale(1)
  transition: .3s ease
  &:hover
    transform: translate(2%, 0) scale(1.1)
    cursor: pointer

.descr
  margin: 0 auto
  font-size: 16px
  line-height: 25px
  color: #fff
  font-weight: 400
  font-style: italic
  margin-bottom: 16px

.h5-oleg
  font-size: 18px
  line-height: 26px
  color: #fff
  font-weight: 400
  margin-bottom: 5px

.client
  font-size: 14px
  line-height: 19px
  color: #999
  font-weight: 400
  margin-bottom: 0

.week
  padding-top: 72px
  margin-bottom: 90px

.special-choise-week
  font-size: 36px
  line-height: 42px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center
  margin-bottom: 15px

.proposition
  font-size: 16px
  line-height: 24px
  color: #333
  font-weight: 400
  font-style: italic
  text-align: center
  padding-bottom: 36px

.relative
  position: relative

.absoluteimg
  position: absolute
  top: 0
  left: 0
  transform: translate(-50%, -50%)

.twoCard 
  overflow: hidden

.tCard 
  position: relative
  overflow: hidden

.stars
  position: absolute
  width: 90px
  height: 90px
  top: 4%
  left: -15%
  z-index: 1
  transform: rotate(45deg) translate(-50%, -50%)
  background-color: #26cb15
  +media(375)
    left: -13%
  +media(425)
    top: 4%
    left: -12%
  +media(450)
    top: 3.75%
    left: -10.5%
  +media(500)
    left: -9.5%
    top: 3%
  +media(510)
    top: 3.5%
    left: -9.75%
  +media(530)
    top: 3.5%
    left: -9.5%
  +media(550)
    top: 3.25%
    left: -9%
  +media(565)
    top: 3.5%
  +media(687)
    top: 4.5%
    left: -18%
  +media(720)
    left: -18.75%
  +media(768)
    left: -14%
    top: 4.5%
  +media(991)
    left: -20%
    top: 4%
  +media(1000)
    left: -20%
    top: 3%
  +media(1024)
    left: -23%
    top: 3%
  +media(1200)
    top: 4%
    left: -17%
  +media(1440)
    top: 4%
    left: -15%

.starimgs
  position: absolute
  width: 17px
  height: 16px
  top: 40%
  left: 81%
  fill: #fff
  transform: rotate(-45deg) translate(-50%, -50%)
  +media(320)
    top: 42%
  +media(375)
    top: 38%
  +media(425)
    top: 42%
  +media(450)
    top: 39%
    left: 80%
  +media(500)
    top: 42%
    left: 80%
  +media(550)
    top: 38%
  +media(565)
    top: 36%
  +media(600)
    top: 39%
  +media(687)
    top: 40%
    left: 81%
  +media(991)
    top: 44%
    left: 80%
  +media(1000)
    top: 45%
    left: 83%
  +media(1024)
    top: 40%
    left: 85%
  +media(1200)
    top: 40%
    left: 81%

.card-title
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  min-height: 17px
  +media(320)
    line-height: 20px
    font-size: 14px
  +media(500)
    line-height: 26px
  +media(1024)
    font-size: 14px
  +media(1200)
    font-size: 18px

.card-text
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  min-height: 76px
  +media(991)
    min-height: 95px
  +media(1200)
    min-height: 76px


.card-img-top
  min-height: 190px

.prices
  font-size: 24px
  line-height: 44px
  color: #0099ff
  font-weight: 400
  margin-bottom: 0
  +media(320)
    font-size: 14px
    line-height: 24px
  +media(1200)
    font-size: 24px
    line-height: 44px

.btns
  font-size: 13px
  letter-spacing: 1px
  text-transform: uppercase
  text-decoration: none
  color: #ffb700
  font-weight: 400
  text-align: center
  position: relative
  +media(425)
    margin-right: 0
  +media(500)
    margin-right: 15px

.hover-a
  transition: .3s ease
  transform: scale(1)
  &:hover
    transform: scale(1.1)
    cursor: pointer

.absoluteimg
  position: absolute
  width: 11px
  height: 11px
  top: 50%
  left: 115%
  transform: translate(-50%, -50%)

.card
  border-radius: 0px
  border: none
  background-color: #f5f8fa
  transition: .3s ease
  &:hover
    background-color: #fff
    box-shadow: 0px 4px 10.5px 5px rgba(3,20,31,0.05)

.g-flex
  display: flex
  align-items: center
  justify-content: space-between

.biker
  position: absolute
  width: 60px
  height: 110%
  top: 0
  left: 0
  z-index: 0
  background-color: #0099ff
  +media(500)
    left: 0
  +media(1024)
    top: 0
    left: -5%
  +media(1200)
    top: 0
    left: 0

.superimg
  position: absolute
  width: 40px
  height: 35px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  +media(425)
    top: 50%
    left: 50%
  +media(500)
    top: 50%
    left: 50%
  +media(1000)
    top: 50%
    left: 53%
  +media(1024)
    top: 50%
    left: 58.5%
  +media(1200)
    top: 50%
    left: 50%

.ok
  +media(320)
   margin-right: 5px
  +media(1200)
    margin-right: 0
  +media(1400)
    margin-right: 5px

footer
  background-color: #f5f8fa
  padding-top: 78px

footer h2
  font-size: 36px
  letter-spacing: 1px
  line-height: 40px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center
  +media(320)
    font-size: 28px
    line-height: 35px
    text-align: center
  +media(1200)
    font-size: 36px
    line-height: 40px

.first-information,
.second-information
  padding: 25px 28px 30px 20px

.first-information
  background-image: url('../img/informationone.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.second-information
  background-image: url('../img/informationtwo.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.first-information h5,
.second-information h5
  font-size: 18px
  line-height: 24px
  color: #fff
  font-weight: 400
  min-height: 78px

.size-file
  font-size: 13px
  line-height: 19px
  color: #bbb
  font-weight: 400
  padding: 0 0 0 50px

.descript
  font-size: 13px
  line-height: 19px
  color: #fefefe
  font-weight: 400
  +media(489)
    min-height: 133px
  +media(700)
    min-height: auto
  +media(1400)
    min-height: 95px

.button
  display: inline-block
  font-size: 12px
  letter-spacing: 0px
  text-transform: uppercase
  color: #ffb700
  text-decoration: none
  font-weight: 400
  text-align: right
  position: relative
  padding: 10px 17px 10px 35px
  border: 2px solid #ffb700
  border-radius: 25px
  transition: .3s ease
  &:hover
    background-color: #fff

.button > svg
  position: absolute
  width: 15px
  height: 15px
  top: 50%
  left: 22%
  transform: translate(-50%, -50%)

.answer
  font-size: 18px
  letter-spacing: 1px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center
  position: absolute
  top: 0
  left: 50%
  width: 100%
  transform: translate(-50%, -50%)

.absolute
  position: absolute
  top: 80%
  left: 50%
  transform: translateX(-50%)

.say-goodday
  font-size: 13px
  line-height: 16px
  color: #999
  font-weight: 400
  text-align: center

.tel
  font-size: 18px
  line-height: 26px
  color: #0099ff
  font-weight: 400
  display: flex
  align-items: center
  justify-content: center
  gap: 6px

.tel > a
  text-decoration: none

.name-Anna
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center
  margin-bottom: 0px

.w-nned
  +media(320)
    width: 57%
  +media(375)
    width: 48%
  +media(425)
    width: 41.5%
  +media(500)
    width: 35%
  +media(576)
    width: 35%
  +media(768)
    width: 23.5%
  +media(991)
    width: 27%
  +media(1024)
    width: 27%
  +media(1200)
    width: 23%
  +media(1400)
    width: 20%
  +media(1800)
    width: 21.25%

.consultant
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  font-family: "PT Sans"
  text-align: center
  margin-bottom: 0

.row-g
  display: flex
  justify-content: space-between

.portretone
  box-sizing: border-box
  border-radius: 40px
  bpx-shadow: 0px 4px 10.5px 5px rgba(3,20,31,0.05)

.portret-two
  margin: 0 auto
  position: relative
  max-width: 100%
  &::before, &::after
    content: ""
    position: absolute
    top: 0
    width: 44px
    height: 100%
    +media(768)
      width: 30px
    +media(1100)
      width: 44px
  &::before
    left: 2%
    border-top: 4px solid #ffb700
    border-left: 4px solid #ffb700
    border-bottom: 4px solid #ffb700
  &::after
    right: 2%
    border-top: 4px solid #ffb700
    border-right: 4px solid #ffb700
    border-bottom: 4px solid #ffb700
  +media(320)
    min-width: 45%
    margin-top: 20px
  +media(768)
    min-width: auto
    margin-top: 0

.icon
  width: 34px
  height: 42px

.portrettwo
  margin: 0 auto

.tel > img
  width: 16px
  height: 17px

.tel
  transition: .3s ease
  transform: scale(1)
  &:hover
    transform: scale(1.1)

.background-bottom
  background-image: url('../img/backgroundbottom.jpg')
  background-size: cover
  background-position: center top
  box-sizing: content-box
  height: 40vh

.samiy-footer
  font-size: 13px
  line-height: 19px
  color: #ffffff
  font-weight: 400
  text-align: center
  background-color: #1a1a1a
  padding: 17px 0 15px

.samiy-footer > p
  margin-bottom: 0