doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon", href="img/logo.png", type="image/png")
        title Морські Пригоди, відпочивайте де забажаєте, є все на ваш вибір!
    body 
        include components/mixin
        header.wrapper.puck
            nav.navbar.navbar-expand-lg.bg-body-tertiary(style='background-color: transparent;' data-bs-theme='light')
                .container-fluid.row-13-g.row-colss-5
                    a.navbar-brand.items-center(href='index.html')
                        img.d-inline-block.align-text-top(src='img/logo.png' alt='Logo' width='33' height='40')
                        |   trips
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.col-6-lg.nav.gul
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') ГОловна
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') послуги
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') про компанію
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') Акції
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') Партнери
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') відгуки
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='#') Контакти
            .container-fluid
                div.row.align-items-center
                    .middle-header.col-6-g.mx-auto.text-center
                        h1.d-inline-block Морські пригоди
                        p.bottom-text Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                        a.detail(href="#") детальніше
                    .container-fluid
                        .bottom-middle-header.row
                            .col.text-center
                                p.text-up.margin-bottom обери свій
                                p.text-up.margin-bottom план подорожі
                                p.text-bottom Наша фірма -лідер на ринку у своїй сфері
                                a(href="#down")
                                    svg.col-12.mx-auto.svg(enable-background="new 0 0 512 512" height="20px" id="Layer_1" version="1.0" viewBox="0 0 512 512" width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                        g
                                            g
                                                polygon(points="63.8,269.8 106.2,227.4 253,374.2 399.8,227.4 442.2,269.8 253,459")
                                        g
                                            g
                                                polygon(points="63.8,95.4 106.2,53 253,199.8 399.8,53 442.2,95.4 253,284.6")
        main#down
            .wrapper.container-fluid
                .maincards.row.container-fluid
                    .firstcardka.col
                        h2.cardsbosstext Про нашу компанію
                        p.description-about-company Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                        a.detail.pukashka(href="#") детальніше
                        p.uvaga * - зверніть увагу, зміна ціни може залежати від курсу долара.
                    +card(cardInfo.bike)
                    +card(cardInfo.earth)
                    +card(cardInfo.message)
                    div.analizi
                        a.gamno(href="#") дивитись усі плани
                        img(src="img/arrowright.png", alt="стрілка вправо")
                hr.hr
                .island.row-s
                    img.col-mlss(src="img/firstphoto.png", alt="фото безлюдного острова")
                    .abaudna.row
                        .col
                            h2.h2-abaudna Дивовижний безлюдний острів, який зводить людей з розуму
                            p.opis Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                            div.row-6.gap
                                a.col.detail.gar(href="#") замовити тут
                                a.col.detial(href="#") детальніше
                        .gray-box.col
                            h4.price.gav 575 грн./день
                            p.description.gaybox В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
            .oleg.container.fluid
                div.wrapper.containers
                    .rows
                        .col
                            div
                                h2 СПІЙМАЙ ХВИЛЮ
                                h2 ЖИВИ ЯСКРАВО!
                            p.oleg-description Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                            a.col.detail.gar(href="#") детальніше
                        .cols
                            img.lapki(src="img/lapki.png", alt="Лапки")
                            p.descr Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи. 
                            h5.h5-oleg Олег Набережний
                            p.client клієнт
                            img.portretone(src="img/portretone.png", alt="")
            .week.wrapper.container-fluid
                h3.special-choise-week Спеціальні пропозиції тижня
                p.proposition Гарячі праозиції, по-швидше обирай і поїхали!
                .cards.row.row-cols-1.row-cols-md-4
                    +curd(proPosition.romantic)
                    +curd(proPosition.biker)
                    +curd(proPosition.island)
                    +curd(proPosition.surfing)
            div.hrplus
                hr.hr
        footer
            .wrapper.row-g.container-fluid
                h2 додаткова інформація
                .first-information.colss
                    div
                        img.icon(src="img/file.png", alt="файл")
                        h5 Графік роботи готелів.xls
                    p.size-file Розмір файла: 10Mb
                    p.descript Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.
                    a.button(href="#" downoload) скачати
                        img(src="img/cloud.png", alt="хмара")
                .second-information.colss
                    div
                        img.icon(src="img/file.png", alt="файл")
                        h5 Інформація про харчування.xls
                    p.size-file Розмір файла: 10Mb
                    p.descript У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.
                    a.button(href="#" downoload) скачати
                        img(src="img/cloud.png", alt="хмара")
                .portret-two.colss
                    p.answer задати питання
                    p.say-goodday Скажіть доброго дня 
                        | нашому консультанту,
                        | і ми з радістю відповімо 
                        | на Ваші запитання
                    div.tel
                        img(src="img/phone.png", alt="телефон")
                        a(href="tel:380505698511") +38 (050) 56 98 511
                    p.name-Anna Анна Миколаївна
                    p.consultant консультант
                    img.portrettwo(src="img/portrettwo.png", alt="")
            .background-bottom
            .samiy-footer
                p © 2016 Cars.com All rights reserved.

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')